<div class="game-layout">
  <header class="header">Ball Catch Game</header>

  <div class="main-content">
    <aside class="left">
      <section>
        <div class="input-container" style="text-align: center;">
          <input type="number" [(ngModel)]="multiplier" placeholder="Enter multiplier" />
          <button (click)="onSubmitMultiplier(multiplier)">Start Game</button>
        </div>
        <div class="score-bar">
          Score: {{ score }}
          <span *ngIf="gameOver" style="color: red; font-weight: bold; margin-left: 20px;">
            Game Over 💥 Press R to restart
          </span>
        </div>
            </section>
    </aside>

    <section class="right">
      <div class="game-frame" id="game-frame">
        <div class="ball" id="ball"></div>
        <div class="basket" id="basket"></div>
        <div class="multipling-score" *ngIf="numberMultiplier" style="margin-top: -100px;">{{ numberMultiplier }}</div>
        <div class="flashing-score" *ngIf="flashedScore" style="margin-bottom: -100px;">{{ flashedScore }}</div>
      </div>
    </section>
  </div>

  <footer class="footer">
    <div class="score-bar">
      Score: {{ score }}
    </div>
  </footer>

</div>
